# Django
SECRET_KEY=django_secret_key
DEBUG=True/False
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=DB_name
DB_USER=DB_user
DB_PASSWORD=DB_user_password
DB_HOST=Postgres_server
DB_PORT=Postgres_server_port

# Email
EMAIL_HOST=e-mail_host_name
EMAIL_PORT=e-mail_host_port
EMAIL_USE_TLS=e-mail_host_TLS
EMAIL_USE_SSL=e-mail_host_SSL
EMAIL_HOST_USER=e-mail_host_username
EMAIL_HOST_PASSWORD=e-mail_host_server_password (not your e-mail password!!!)
ADMIN_EMAIL=e-mail_address
